.navbar {
    font-family: sans-serif;
    background-color: #ba904caa;
    margin: 0 100px;
    padding-left: 50px;
}

.navbar a {
    color: #fff;
}

.navbar button {
    color: #fff;
    border-color: #fff;
}

span .toggler-icon {
    color: #fff;
}

.offcanvas {
    background-color: #ba904cd5;
    color: #fff;
    padding: 15px;
}

@media (max-width: 1000px) {
    .navbar {
        margin: 0;
    }
}