.slider button {
    border: 1px solid #000;
    
}

.slider .logo {
    width: 200px;
    height: 50px;
    margin-bottom: 30px;
}

@media (max-width:600px) {
    .slider img {
        width: 500px;
        height: 30vh;
    }
}

@media screen and (min-width: 1000px) {
    .slider img{
        max-height: 80vh;
        width: 100vw;
        height: auto;
    }

    .slider .logo {
        width: 450px;
        height: auto;
        margin-bottom: 270px;
    }
}