.card {
    font-family: 'Barlow', sans-serif;
    margin-top: 3rem;
    width: 350px;
    margin: 3rem auto;
    border: 2px solid #fff;
    color: #fff;
}

.card img {
    width: 100%;
    height: 350px;
}

.content {
    padding: 25px;
}

.content p {
    margin-top: 2rem;
}

.content a {
    color: #fff;
    padding-bottom: 1.3rem;
    padding-right: 220px;
    border-bottom: 2px solid #fff;
    text-decoration: none;
}

.content a:hover {
    color: #ffffffb4;
    text-decoration: underline;
    transition: .3s;
}

.content .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 290px;
    border-radius: 30px;
    height: 50px;
    border: 1px solid #fff;
    padding: 0;
}

.content .btn:hover {
    transition: .3s;
    background-color: var(--terciary-color);
    font-size: 17px;
    text-shadow: 3px 3px 3px #00000057;
    text-decoration: none;
    color: var(--secundary-color);
}

@media (min-width: 1000px) {
    .card {
        display: flex;
        margin-bottom: 200px;
        position: relative;
        border: none;
    }
    .card img {
        position: absolute;
        left: -300px;
        width: 530px;
        height: 497px; 
    }

    .card img:hover{
        filter: brightness(60%);
        border: 1px solid #fff;
        transition: .3s;
    }
    .card .content {
        width: 470px;
        height: 400px;
        padding: 50px;
        background-color: var(--primary-color);
        margin-top: 50px;
        margin-left: 150px;
        border: 2px solid #fff;
        z-index: 1;
    }

    .content .btn {
        margin-left: 0;
    }
}


