.header{
    font-family: sans-serif;
    background-color: var(--secundary-color);
    position: sticky;
    top: 0;
    z-index: 100;
}

.main {
    background-color: var(--primary-color);
}

.whatsapp {
    position: fixed;
    z-index: 100;
    margin-bottom: 5px;
    margin-right: 10px;
    bottom: 0;
    right: 0;
    font-size: 60px;
}

.whatsapp svg {
    color: #0fc144;
}

.about_us {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    background-color: #d7d5c8;
    font-family: sans-serif;
}

.justice {
    width: 400px;
    padding-top: 8px;
    position: absolute;
    left: 0;
}

.about_us h2 {
    position: relative;
    font-family: serif;
    color: #3c4c54;
    text-align: right;
    font-size: 28px; 
    padding-top: 3.5rem;
    padding-right: 1rem;
}

.about_us h2::after {
    content: "";
    border-top: 2px solid var(--primary-color);
    width: 40%;

    position: absolute;
    bottom: -5px;
    left: 23%;
  }

.about_us p {
    color: #000;
    max-width: 230px;
    text-align: left;
    margin-top: 3.5rem;
}

.about_us a {
    color: #000;
    margin-top: 10px;
    padding-bottom: 29px;
    display: block;
}

.services {
    background-color: var(--primary-color);
}

.services h2 {
    font-weight: normal;
    position: relative;
    max-width: 200px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding-top: 2.5rem;
}

.services h2::after {
    content: "";
    border-top: 2px solid #fff;
    width: 40%;

    position: absolute;
    bottom: -5px;
    left: 30%;
  }

.info {
    margin-top: -48px;
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h3 {
    text-align: center;
    font-size: 18px;
    max-width: 370px;
}

.info h4 {
    text-align: center;
    font-size: 16px;
    max-width: 370px;
    padding-bottom: 30px;
}

.info li {
    font-size: 14px;
}

.contact {
    background-color: #fff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.contact h3 {
    padding-top: 20px;
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}

.contact label {
    display: block;
    margin-top: 10px;
    padding-left: 5px;
    color: var(--primary-color);
}

.contact input {
    border: none;
    border-bottom: 1px solid var(--primary-color);
    width: 100%;
    height: 55px;
    text-indent: 3px;
}

.contact input:hover {
    border: 1px solid var(--primary-color);
    outline: 0;
}

.contact .message {
    height: 95px;
    padding-bottom: 50px;
}

.contact .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 3rem;
    height: 50px;
    background-color: var(--primary-color);
    color: #fff;
}

.contact p {
    text-align: center;
    margin-top: 1rem;
}

.contact img {
    width: 200px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .whatsapp {
        margin-bottom: 10px;
        margin-right: 35px;
        font-size: 80px;
    }

    .about_us img {
        display: none;
    }
    .about_us {
        align-items: center;
        background-image: url(../../img/aboutUs_desktop.webp);
        background-size: cover;
        height: 85vh;
    }
    .about_us h2 {
        margin-left: 50%;
        font-size: 4rem;
    }

    .about_us p {
        max-width: 500px;
        margin-left: 57%;
        font-weight: 300;
        font-size: 1.1rem;
        text-align: left;
    }

    .services h2 {
        max-width: 500px;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .info img {
        width: 200px;
    }

    .info h3, .info h4{
        max-width: 800px;
    }

    .contact img {
        width: 300px;
        height: 300px;
    }

    .contact {
        display: flex;
        flex-direction: row-reverse;
        width: 90vw;
        height: 550px;
        margin: 0 auto;
    }

    .contact form {
        display: grid;
        grid-template-columns: 200px 200px;
    }

}