.header{
    font-family: 'Barlow', sans-serif;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 100;
}

.main {
    background-color: var(--primary-color);
    font-family: 'Barlow', sans-serif;
}

/* WHATSAPP ICON */

.whatsapp {
    position: fixed;
    z-index: 100;
    margin-bottom: 5px;
    margin-right: 10px;
    bottom: 0;
    right: 0;
    font-size: 60px;
}

.whatsapp svg {
    color: #0fc144;
}

/* ABOUT US SECTION */

.about_us {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    background-color: #DDD7CB;
    font-family: 'Barlow', sans-serif;
}

.justice {
    width: 400px;
    padding-top: 8px;
    position: absolute;
    left: 0;
}

.about_us h2 {
    position: relative;
    font-family: serif;
    color: var(--primary-color);
    text-align: right;
    font-size: 28px; 
    padding-top: 3.5rem;
    padding-right: 1rem;
}

.about_us h2::after {
    content: "";
    border-top: 2px solid var(--primary-color);
    width: 40%;

    position: absolute;
    bottom: -5px;
    left: 23%;
  }

.about_us p {
    color: #000;
    max-width: 230px;
    text-align: left;
    margin-top: 3.5rem;
}

.about_us a {
    color: #000;
    margin-top: 10px;
    padding-bottom: 29px;
    display: block;
}

.about_us a:hover {
    color: var(--secundary-color);
    transition: .4s;
}
/* SERVICES SECTION */

.services {
    background-color: var(--primary-color);
}

.services h2 {
    font-weight: normal;
    position: relative;
    max-width: 200px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding-top: 2.5rem;
}

.services h2::after {
    content: "";
    border-top: 2px solid #fff;
    width: 40%;

    position: absolute;
    bottom: -5px;
    left: 30%;
  }

  /* INFO SECTION */

.info {
    margin-top: -48px;
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h3 {
    text-align: center;
    font-size: 18px;
    max-width: 370px;
}

.info h4 {
    text-align: center;
    padding-left: 10px;
    font-size: 18px;
    max-width: 370px;
    padding-bottom: 30px;
}

.info li {
    font-size: 14px;
}

/* CONTACT SECTION */

.contact {
    color: var(--primary-color);
    background-color: #fff;
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.contact h3 {
    padding-top: 20px;
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}

.title_desk{
    display: none;
}

.contact label {
    display: block;
    margin-top: 10px;
    padding-left: 5px;
    color: var(--primary-color);
}

.contact input {
    border: none;
    border-bottom: 1px solid var(--primary-color);
    width: 100%;
    height: 55px;
    text-indent: 3px;
}

.contact input:hover {
    border: 1px solid var(--primary-color);
    outline: 0;
}

.contact .message {
    height: 95px;
    padding-bottom: 50px;
}

.contact .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 3rem;
    height: 50px;
    background-color: var(--primary-color);
    color: #fff;
}

.contact .btn:hover {
    transition: .5s;
    background-color: var(--terciary-color);
    font-size: 17.5px;
    text-shadow: 3px 3px 3px #00000057;
    text-decoration: none;
    color: var(--secundary-color);
}

.contact p {
    text-align: center;
    margin-top: 1rem;
}

.contact img {
    display: block;
    width: 200px;
    margin: 0 auto;
}

/* MEDIA QUERY */

@media (min-width: 800px) {
    .whatsapp {
        margin-bottom: 10px;
        margin-right: 35px;
        font-size: 80px;
    }

    .about_us img {
        display: none;
    }
    .about_us {
        align-items: center;
        background-image: url(../../img/aboutUs_desktop.webp);
        background-size: cover;
        height: 85vh;
    }
    .about_us h2 {
        margin-left: 50%;
        font-size: 4rem;
    }

    .about_us p {
        max-width: 500px;
        margin-left: 57%;
        font-weight: 300;
        font-size: 1.1rem;
        text-align: left;
    }

    .services h2 {
        max-width: 500px;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    /* info section  */

    .info {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .info img {
        width: 200px;
    }

    .info h3, .info h4{
        max-width: 800px;
    }

    /* Contact section */

    .contact img {
        margin-top: 10px;
        width: 200px;
    }

    .contact {
        color: var(--primary-color);
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width: 90vw;
        height: 607px;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .contact h3{
        order: 1;
        align-self: flex-start;
        justify-self: center;
    }

    .contact form {
        height: 400px;
        display: flex;
        flex-direction: column;
        padding-right: 60px;
        margin-bottom: 100px;
    }

    .contact input {
        width: 225px;
        height: 50px;
        outline: 0;
    }

    .subject input {
        width: 100%;
    }

    .contact .message {
        height: 116px;
    }

    .contact .form_top {
        display: flex;
        gap: 10px;
    }

    .contact .btn {
        background-color: var(--primary-color);
        margin-bottom: 20px;
        height: 50px;
    }

    .contact .title {
        display: none;
    }

    .email_logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 150px;
    }

    .email_logo p {
        font-size: 15px;
    }

    .email_logo h3{
        font-size: 40px;
        display: block;
        margin: auto;
        order: -1;
    }

}