.footer {
    padding-top: 20px;
    padding-bottom: 5px;
    background-color: var(--primary-color);
    color: #fff;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact p {
    font-size: 18px;
}

.contact ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact li {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--primary-color);

    width: 30px;
    height: 30px;

    font-size: 20px;
    border-radius: 50%;
    background-color: #fff;
}

.copyright {
    font-size: 13px;
    padding-top: 10px;
    text-align: center;
}