.footer {
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: var(--primary-color);
    color: #fff;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact p {
    font-size: 18px;
}

.contact ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact li {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--primary-color);

    width: 30px;
    height: 30px;

    font-size: 20px;
    border-radius: 50%;
    background-color: #fff;
}

.copyright {
    font-size: 13px;
    padding-top: 10px;
    text-align: center;
}

@media (min-width: 800px) {
    .footer .contact{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 4rem;

        width: 90vw;
        padding-top: 10px;
        margin: 0 auto;

        border-top: 4px solid #fff;
    }

    .contact p {
        font-size: 13px;
        font-weight: bold;
        margin: 0;
    }

    .footer li {
        width: 20px;
        height: 20px;
        font-size: 14px;
    }
}